<div class="education-container">
    <div class="head">
        <mat-icon color="primary" class="icon">school</mat-icon>
        Education
    </div>

    <div class="provider-container">
        <a class="link no-link" target="_blank" href="https://www.westernsydney.edu.au/future/study/courses/postgraduate/master-of-artificial-intelligence">
            <div class="title">
                Master of Artificial Intelligence
            </div>
            <img src="assets/images/wsu.webp" width="100" class="logo">
            <div class="institution">
                Western Sydney University
            </div>
            <div class="timeline">
                2021 - 2023
            </div>
        </a>
        <a class="link" target="_blank" href="https://hbook.westernsydney.edu.au/programs/master-artificial-intelligence/">
            Course Handbook
            <mat-icon class="icon">open_in_new</mat-icon>
        </a>
        <div class="description">
            I pursued my Master's degree in Artificial Intelligence with a major in Data Science at Western Sydney University, a
            journey that spanned the years 2021 - 2023. During this enriching academic experience, I delved
            deep into the realm of Artificial Intelligence, with a specific focus on Data Science. This program not only
            provided me with a comprehensive understanding of AI methodologies but also equipped me with advanced data analytics
            techniques, machine learning algorithms, and data-driven decision-making skills.
        
            Through a rigorous curriculum and hands-on projects, I honed my ability to extract meaningful insights from complex
            datasets, design and implement machine learning models, and leverage data to drive informed decisions. My studies at
            Western Sydney University not only broadened my knowledge in the field of Artificial Intelligence but also prepared
            me to tackle real-world challenges in the data-driven industry.
        
            This Master's program allowed me to explore the cutting-edge developments in AI and data science, positioning me at
            the forefront of innovation in these fields. Overall, my experience at Western Sydney University has been
            instrumental in shaping my expertise and passion for the exciting and rapidly evolving domains of Artificial
            Intelligence and Data Science
        </div>
    </div>

    <div class="provider-container">
        <a class="link no-link" target="_blank" href="https://manipal.edu/mit/program-list/btech/btech-computer-science-engineering.html">
            <div class="title">
                Bachelor of Computer Science
            </div>
            <img [src]="'assets/images/manipal_' + (lightTheme ? 'light' : 'dark') + '.png'" width="200" class="logo">
            <div class="institution">
                Manipal University
            </div>
            <div class="timeline">
                2015 - 2019
            </div>
        </a>
        <a class="link" target="_blank" href="https://manipal.edu/content/dam/manipal/mu/mit/documents/CSE/BTech-CSE_2020.pdf">
            Course Handbook
            <mat-icon class="icon">open_in_new</mat-icon>
        </a>
        <div class="description">
            I earned my Bachelor's degree in Computer Science with a major in Intelligent Systems from Manipal University,
             where I embarked on a transformative academic journey from 2015 to 2019. This comprehensive program provided me
              with a strong foundation in computer science principles, programming languages, and cutting-edge technologies,
               while also specializing in the fascinating field of Intelligent Systems. This education equipped me with the
                skills and knowledge necessary to excel in the dynamic and rapidly evolving realm of computer science and intelligent systems.
        </div>
    </div>

    <div class="provider-container">
        <div class="title">
            Certifications and Courses
        </div>
        <div class="description">
            <ul>
                <li>
                    <a class="link no-link" target="_blank" href="https://coursera.org/share/f8c08b113f2a1a874c16bf1550d5cdd3">
                        <span>Deep Learning Specialization (deeplearning.ai)</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
                <li>
                    <a class="link no-link" target="_blank" href="https://coursera.org/share/cf9607bfe0b88be7470e7a113dc7dcc3">
                        <span>Convolutional Neural Networks</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
                <li>
                    <a class="link no-link" target="_blank" href="https://coursera.org/share/99e0c09cec2acf80bf1fe84ac8d04c72">
                        <span>Sequence Models</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
                <li>
                    <a class="link no-link" target="_blank" href="https://coursera.org/share/a7f2a9a7c4f8fc3772d7d9fd7c3503e4">
                        <span>Neural Networks and Deep Learning</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
                <li>
                    <a class="link no-link" target="_blank" href="https://coursera.org/share/08262f26fc6004568f974bd08e733e9e">
                        <span>Structuring Machine Learning Projects</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
                <li>
                    <a class="link no-link" target="_blank" href="https://coursera.org/share/8687e756ee0193406115641d1c096473">
                        <span>Improving Deep Neural Networks: Hyperparameter Tuning, Regularization and Optimization</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
                <li>
                    <a class="link no-link" target="_blank" href="https://coursera.org/share/4f868553e72a94d2a98fc5476b7c9223">
                        <span>Graphic Design (CalArts)</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
                <li>
                    <a class="link no-link" target="_blank" href="https://www.pearsonpte.com/">
                        <span>Pearson Test of English (90/90)</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
                <li>
                    <a class="link no-link" target="_blank" href="https://frontendmasters.com/courses/accessibility-v2/">
                        <span>Web Accessibility</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
                <li>
                    <a class="link no-link" target="_blank" href="https://frontendmasters.com/courses/complete-react-v7/">
                        <span>Complete Intro to React</span>
                        <mat-icon class="icon">open_in_new</mat-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
