@import '../../scss/colors';

$selected-nav: rgba(100, 100, 100, 0.2);

.sidenav {
    width: 250px;

    .toggle {
        justify-content: flex-start;
    }
}

.toggle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px 16px;
    flex: 0 1 auto;

    &:hover {
        cursor: pointer;
    }
}

.nav {

    flex: 1 1 auto;
    &:last-child {
        float: bottom;
    }
    .active-link {
        background-color: $selected-nav;
        box-sizing: border-box;
        border-left: solid 3px $primary;
    }

    mat-list-item,
    a {
        border: none;
        box-sizing: border-box;
        text-decoration: none;

        &:hover {
            cursor: pointer;
            background-color: $selected-nav;
            border-left: solid 3px $primary;
        }

        .nav-icon-holder p {
            margin: 0;
        }
    }
}

.mat-drawer {
    background-image: url('/assets/images/bg-nav-light.png');
}


.mat-drawer-dark {
    background-image: url('/assets/images/bg-nav.png') !important;
}
