<div class="experience-container">
    <div class="experience-head">
        <mat-icon  color="primary" mat-list-icon>domain</mat-icon>
        Past Experience
    </div>
    <div class="job-container">
        <div class="job-header">
            <img [lazyLoad]="'assets/images/' + (lightMode ? 'mq.svg' : 'mq_dark.svg')" alt="Macquarie Group Limited" width="200">
            <div class="job-title">
                <div class="job-role">Full-Stack Developer</div>
                <div class="job-timeline">Feb 2024 - Present</div>
                <div class="job-location">Sydney, Australia</div>
            </div>
        </div>
        <div class="job-description">
            <div class="job-description-title">Key Contributions</div>
            <ul>
                <li><b>AI:</b> Led an initiative to auto-generate production-ready apps from Jira stories or meeting transcripts.</li>
                <li><b>Solution Design:</b> Turned business needs into actionable specs, collaborating with stakeholders to refine features and workflows.</li>
                <li><b>Architecture:</b> Designed scalable, secure, and reliable systems.</li>
                <li><b>Frontend:</b> Built accessible, dynamic, and responsive UIs with Angular and React.</li>
                <li><b>UI Library:</b> Developed and maintained a modular, reusable component library.</li>
                <li><b>Backend:</b> Created scalable APIs and automated processes using Spring Boot, Hibernate, and FastAPI.</li>
                <li><b>UI/UX:</b> Ensured user-friendly, consistent designs in close collaboration with designers using Figma.</li>
                <li><b>DevOps:</b> Automated deployments with Docker, Bamboo, AWS, and in-house CI/CD tools.</li>
                <li><b>Security:</b> Closed major security issues, implemented WAF, and overhauled load balancer for enhanced protection.</li>
                <li><b>Testing:</b> Drove unit, automation, integration, and regression testing for reliability.</li>
            </ul>
        </div>
        <div class="job-description tech">
            <div class="job-description-title">Technologies</div>
            React, Spring Boot, Hibernate, FastAPI, Docker, Bamboo, AWS, Figma, Jira, LLMs, and more.
        </div>
    </div>

    <div class="job-container">
        <div class="job-header">
            <img [lazyLoad]="'assets/images/' + (lightMode ? 'dp.svg' : 'dp_dark.svg')" alt="Digital Purpose">
            <div class="job-title">
                <div class="job-role">Full-Stack Developer</div>
                <div class="job-timeline">Apr 2022 - Jan 2024</div>
                <div class="job-location">Sydney, Australia</div>
            </div>
        </div>
        <div class="job-description">
            <div class="job-description-title">Key Contributions</div>
            <ul>
                <li>Built and maintained responsive, accessible web and cross-platform apps (Ionic, React Native).</li>
                <li>Developed and integrated backend APIs, managed databases, and ensured system scalability and performance.</li>
                <li>Automated CI/CD pipelines, managed AWS deployments, and resolved production issues swiftly.</li>
                <li>Integrated major third-party services (Salesforce, Cognito, Stripe, OpenAI, WordPress, Squarespace, etc.).</li>
                <li>Produced technical/functional documentation and improved SDLC quality standards.</li>
                <li>Prototyped AI/ML solutions and conducted security, load, and penetration testing.</li>
                <li>Coordinated with clients to deliver tailored solutions.</li>
            </ul>
        </div>
        <div class="job-description tech">
            <div class="job-description-title">Technologies</div>
            Angular, Spring Boot, Flyway, Java, JS, HTML, CSS, SCSS, TypeScript, Python, PHP, MySQL, Postgres, AWS, Docker, Git, Jira, Confluence, Salesforce, Cognito, Stripe, OpenAI, WordPress, Squarespace, and more.
        </div>
    </div>

    <div class="job-container">
        <div class="job-header">
            <img [lazyLoad]="'assets/images/amadeus.webp'" alt="Amadeus" width="200">
            <div class="job-title">
                <div class="job-role">Full-Stack Developer</div>
                <div class="job-timeline">Jul 2019 - Jul 2021</div>
                <div class="job-location">Bangalore, India</div>
            </div>
        </div>
        <div class="job-description">
            <div class="job-description-title">Key Contributions</div>
            <ul>
                <li>Developed the developers.amadeus.com portal (Angular, Drupal CMS) and integrated with APIGEE and backend microservices (Spring, Java).</li>
                <li>Managed and optimized SQL databases, implemented microservice obfuscation for data security.</li>
                <li>Led API usage-based billing and dynamic throttling, boosting revenue and user experience.</li>
                <li>Ensured security compliance (CSRF, audits), and followed latest security best practices.</li>
                <li>Handled production bug fixes, QA (Selenium), and led three major production releases.</li>
                <li>Oversaw feature delivery, QA, and DevOps tasks for quarterly releases.</li>
            </ul>
        </div>
        <div class="job-description tech">
            <div class="job-description-title">Technologies</div>
            Angular, Spring, Java, JS, HTML, CSS, SCSS, TypeScript, Python, MariaDB, Git, Jira, Confluence, APIGEE, Drupal, and more.
        </div>
    </div>
</div>
