.experience-container {
    min-height: 100vh;
    text-align: center;

    .experience-head {
        padding: 32px;
        font-size: 42px;
        font-weight: 600;
        text-align: center;
        
        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            line-height: 1;
            vertical-align: middle;
        }

        mat-icon {
            transform: scale(1.5) translate(0, -4px);
            @media screen and (max-width: 600px) {
                margin: 0 auto;
            }
        }
    }

    .job-header {
        .job-title {
            margin: 8px;
            .job-role {
                font-size: 18px;
                font-weight: 600;
            }

            .job-timeline {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    .job-container + .job-container {
        margin-top: 32px;
    }

    .job-description {
        padding: 16px;
        text-align: left;
        max-width: 50%;
        margin: 0 auto;

        @media screen and (max-width: 960px) {
            max-width: 100%;
        }

        @media screen and (max-width: 796px) {
            padding: 8px;
            
            &.tech {
                text-align: center;
            }
        }

        .job-description-title {
            font-size: 16px;
            font-weight: 600;
            text-align: left;

            @media screen and (max-width: 796px) {
                text-align: center;
            }
        }

        ul {

            li {
                list-style-type: "»";
                margin: 0 auto;
                padding: 4px;
                text-align: left;
                font-size: 14px;
                font-weight: 400;

                li {
                    list-style-type: circle;
                }
            }

            @media screen and (max-width: 796px) {
                padding: 0;
                padding-left: 8px;
            }
        }
    }
}