<div class="experience-container">
    <div class="experience-head">
        <mat-icon  color="primary" mat-list-icon>domain</mat-icon>
        Past Experience
    </div>
    <div class="job-container">
        <div class="job-header">
            <img [src]="'assets/images/' + (lightMode ? 'dp.svg' : 'dp_dark.svg')" alt="Digital Purpose">
            <div class="job-title">
                <div class="job-role">Full-Stack Developer</div>
                <div class="job-timeline">April 2022 - Current</div>
            </div>
        </div>
        <div class="job-description">
            <div class="job-description-title">Responsibilities</div>
            <ul>
                <li>Designing and developing responsive and accessible frontends for websites, portals, and apps.</li>
                <li>Testing and maintaining frontend applications and websites.</li>
                <li>Creating cross platform applications using technologies like Ionic and React Native.</li>
                <li>Developing backend software and APIs, and seamlessly integrating them with databases and other services.</li>
                <li>Managing Databases: integration, development and deployment.</li>
                <li>Ensuring optimal performance, scalability, and maintenance of backend systems.</li>
                <li>Coordinating with clients and delivering according to their requirements.</li>
                <li>Worked with many major third party services and APIs
                    <ul>
                        <li>Integrating software applications with various frameworks and services like Salesforce, Cognito, Stripe, OpenAI (ChatGPT), and more.
                        <li>Conducting research and creating plugins and external integrations for platforms like WordPress and Squarespace.</li>
                    </ul>
                </li>
                <li>
                    Managed various aspects of deployment
                    <ul>
                        <li>Configuring CI/CD pipelines to automate software testing and deployment.</li>
                        <li>Swiftly resolving issues with production and staging environments through bug fixing and hotfixing.</li>
                        <li>Managing deployments and monitoring applications for potential issues, delays, or errors on AWS.</li>
                    </ul>
                </li>
                <li>Creating and reviewing technical and functional documents.</li>
                <li>Enhancing the Software Development Lifecycle while upholding rigorous quality standards.</li>
                <li>Developing Proof of Concepts and prototypes, particularly in the AI/ML domain, for new projects and clients.</li>
                <li>Performing comprehensive tests such as Load Tests and Penetration Tests to ensure the security of live applications.</li>
            </ul>
        </div>
        <div class="job-description tech">
            <div class="job-description-title">Technologies</div>
            Angular, Spring Boot, Flyway, Java, JS, HTML, CSS, SCSS, TypeScript, Python, PHP, MySQL, Postgres, AWS, Docker, Git, Jira, Confluence, Salesforce, Cognito, Stripe, OpenAI (ChatGPT), WordPress, Squarespace, and more.
        </div>
    </div>

    <div class="job-container">
        <div class="job-header">
            <img src="assets/images/amadeus.png" alt="Amadeus" width="200">
            <div class="job-title">
                <div class="job-role">Full-Stack Developer</div>
                <div class="job-timeline">July 2019 - July 2021</div>
            </div>
        </div>
        <div class="job-description">
            <div class="job-description-title">Responsibilities</div>
            <ul>
                <li>Worked on the developers.amadeus.com portal, enabling customers to purchase, utilize, and try-out various APIs.</li>
                <li>Utilized technologies like Angular and Drupal CMS to build the portal's interface based on user needs.</li>
                <li>Seamlessly integrated the application with various services like Drupal and APIGEE.</li>
                <li>Developed the Microservice based API backend using Spring and Java.</li>
                <li>Managed, optimised and integrated a SQL database with the backend services.</li>
                <li>Worked on Microservice obfuscation to protect customer identities and sensistive data.</li>
                <li>Billing Based on API Usage:
                    <ul>
                        <li>Led a major project involving billing calculation and API throttling with APIGEE.</li>
                        <li>Implemented dynamic throttling and billing for user access, significantly impacting company revenue and customer experience.</li>
                    </ul>
                </li>
                <li>Application Security:
                    <ul>
                        <li>Conducted regular security audits of the portal to ensure compliance with industry standards, addressing CSRF protection on both frontend and backend.</li>
                        <li>Followed the latest security guidelines while developing applications to maintain a secure environent.</li>
                    </ul>
                </li>
                <li>Maintenance and Quality Assurance:
                    <ul>
                        <li>Performed production bug fixes and real-time issue resolution.</li>
                        <li>Engaged in Quality Assurance, including product testing and test case creation using Selenium.</li>
                    </ul>
                </li>
                <li>Release Management:
                    <ul>
                        <li>Led three quarterly releases to production.</li>
                        <li>Took responsibility for delivering new features, ensuring quality assurance, and handling various DevOps tasks.</li>
                    </ul>
                </li>
            </ul>
            
        </div>
        <div class="job-description tech">
            <div class="job-description-title">Technologies</div>
            Angular, Spring, Java, JS, HTML, CSS, SCSS, TypeScript, Python, MariaDB, Git, Jira, Confluence, APIGEE, Drupal and more.
        </div>
    </div>
</div>
