<div class="projects-container">
    <div class="head">
        <mat-icon color="primary" class="icon">school</mat-icon>
        Projects & Internships
    </div>

    <div class="elements">
        <div class="element-container">
            <div class="title">
                Generative Image Model
            </div>
            <div class="institution">
                Western Sydney University
            </div>
            <div class="timeline">
                2023
            </div>
            <div class="description">
                <ul>
                    <li>
                        Trained an AI model to produce high-resolution images of mountains and landscapes.
                    </li>
                    <li>
                        Model could generate 256x256 images of mountains and landscapes.
                    </li>
                    <li>
                        Developed a BigGAN model from scratch using Tensorflow and Keras.
                    </li>
                    <li>
                        The model had over 80 million parameters and required multiple high capacity GPUs to train.
                    </li>
                    <li>
                        Training was done on University's high-performance computing cluster that consisted of multiple NVIDIA A100 GPUs.
                    </li>
                    <li>
                        Model was on par with the original BigGAN model in terms of image quality, but was optimised to require significantly less memory.
                    </li>
                    <li>
                        This involved data gathering and cleaning, hyperparameter tuning and training over multiple weeks.
                    </li>
                </ul>
            </div>
        </div>
        <div class="element-container">
            <div class="title">
                Dynamically trained Chatbot
            </div>
            <div class="institution">
                Amadeus
            </div>
            <div class="timeline">
                2019
            </div>
            <div class="description">
                <ul>
                    <li>
                        Created a chatbot that answers user questions about Amadeus' internal projects.
                    </li>
                    <li>
                        The chatbot could be easily trained by providing it a webpage or confluence page.
                    </li>
                    <li>
                        Created an infrastructure to automatically train, manage and deploy multiple chatbots.
                    </li>
                    <li>
                        This allowed any user to visit a portal and create a custom chatbot by providing a link to their docuementation.
                    </li>
                    <li>
                        Created a plug-and-play JS plugin to allow users to embed the chatbot on any webpage.
                    </li>
                    <li>
                        Received the best internship project award for 2019.
                    </li>
                </ul>
            </div>
        </div>
        <div class="element-container">
            <div class="title">
                Modular FinTech portal
            </div>
            <div class="institution">
                Dion
            </div>
            <div class="timeline">
                2018
            </div>
            <div class="description">
                <ul>
                    <li>
                        Created a modular portal for a FinTech company using Angular.
                    </li>
                    <li>
                        The portal included live market views, news, charts, watchlists, etc.
                    </li>
                    <li>
                        The portal also included a simple chatbot with voice and speech support.
                    </li>
                </ul>
            </div>
        </div>
        <div class="element-container">
            <div class="title">
                DevOps and CI/CD management
            </div>
            <div class="institution">
                Expecient
            </div>
            <div class="timeline">
                2017
            </div>
            <div class="description">
                <ul>
                    <li>
                        My role was to manage the DevOps and CI/CD pipelines for the client's projects.
                    </li>
                    <li>
                        Included automation scripts for deployment and testing.
                    </li>
                    <li>
                        Also included load balancing, disaster recovery and failover management.
                    </li>
                    <li>
                        I worked with Jenkins, Ant, Bash scripting and other tools to automate the above.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>