@import '../../scss/colors';

.projects-container {
    min-height: 100vh;

    .head {
        padding: 32px;
        font-size: 42px;
        font-weight: 600;
        text-align: center;

        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            line-height: 1;
            vertical-align: middle;
        }

        mat-icon {
            transform: scale(1.5) translate(0, -4px);
            @media screen and (max-width: 600px) {
                margin: 0 auto;
            }
        }
    }

    .elements {
        .element-container {
            text-align: center;
    
            &+.element-container {
                margin-top: 64px;
            }
    
            .title {
                font-size: 24pt;
                font-weight: 600;
                margin-bottom: 16px;
    
                @media screen and (max-width: 600px) {
                    line-height: 1;
                }
            }

            .institution {
                font-size: 18pt;
                font-weight: 500;
                margin: 16px;
            }
    
            .timeline {
                font-size: 14pt;
                font-weight: 400;
                margin-bottom: 8px;
            }
    
            .description {
                padding: 16px;
                margin: 16px auto;
                width: 45%;
                text-align: center;
                background-color: #aaa4;
                border-bottom: 4px solid $blue;
                text-align: left;
                display: flex;
                gap: 2px;
    
                li {
                    text-align: left;
                    list-style-type: "» ";
    
                    mat-icon {
                        margin-left: 4px;
                    }
    
                    @media screen and (max-width: 828px) {
                        a {
                            
                            mat-icon {
                                display: inline;
                                padding-left: 4px;
                                margin: 0;
                            }
                        }
                    }
                }
            
                @media screen and (max-width: 796px) {
                    text-align: center;
                    width: 95%;
                }
            }
        }
    }

}