<div class="skills-container">
    <div class="skills-head">
        <mat-icon color="primary" aria-label="skills" svgIcon="pen-tool"></mat-icon>
        Skills
    </div>
    <nav class="nav">
        <a class="nav-link" 
           *ngFor="let tab of tabs"
           (click)="navTo(tab.nav)"
           [class.active]="currentTab.nav === tab.nav">
           {{tab.name}}
        </a>
    </nav>

    <ng-container>
        <div class="skill-container">
            <app-skill-page [skills]="currentTab.skills" [header]="currentTab.header" [content]="currentTab.content"></app-skill-page>
        </div>
    </ng-container>
</div>