@import '../../scss/colors';

.skills-container {
    min-height: 100vh;

    .skills-head {
        padding: 32px;
        font-size: 42px;
        font-weight: 600;
        text-align: center;

        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            // line-height: 1;
            gap: 12px;
            vertical-align: middle;
        }

        mat-icon {
            transform: scale(1.5) translate(0, -4px);
            @media screen and (max-width: 600px) {
                margin: 0 auto;
            }
        }
    }

    .skill-container {
        padding: 8px 24px;

        @media screen and (max-width: 600px) {
            padding: 8px; 
        }
    }
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;

    .nav-link {
        flex: 1;
        cursor: pointer;
        color: inherit;
        padding: 8px 24px;
        min-width: 128px;
        text-align: center;
        border-bottom: 1px solid darken($blue, 20%);
        font-size: 12pt;
    
        &.active {
            border-bottom: 2px solid $blue;
            z-index: 10;
            color: $blue;
            font-weight: 700;
        }
    }
}
