<div class="skill-page-container">
    <div class="skill-head">
        <mat-icon aria-label="skills">layers</mat-icon>
        {{header}}
    </div>
    <div class="skill-info">
        {{content}}
    </div>
    <div class="skill-content">
        <div class="skill-content-container" *ngFor="let skill of skills">
            <h3 class="skill-content-header">{{skill.name}}</h3>
            <div class="skill-content-info">
                <div class="skill-buttons">
                    <app-skill-button *ngFor="let m of skill.items" [name]="m.name" [link]="m.link"></app-skill-button>
                </div>
            </div>
        </div>
    </div>
</div>