<div class="home-container">
    <div class="home-header">
        <div class="main-info">
            <h1 class="title">Shubham Singhal</h1>
            <h4 class="subtitle">Full-Stack | AI | Design</h4>
            <div class="contacts">
                <mat-icon color="primary" aria-label="email">email</mat-icon>
                shubham21197@gmail.com
            </div>
            <div class="contacts green">
                <mat-icon color="primary" aria-label="phone">phone</mat-icon>
                +61 403 773 769
            </div>
            <div class="contacts blue">
                <mat-icon aria-label="linkedin" svgIcon="linkedin"></mat-icon>
                <a href="https://www.linkedin.com/in/shubham-singhal-s/" target="_blank">shubham-singhal-s</a>
            </div>
            <div class="contacts">
                <mat-icon aria-label="github" svgIcon="github"></mat-icon>
                <a href="https://github.com/shubham-singhal-s" target="_blank">shubham-singhal-s</a>
            </div>
            <div class="contacts">
                <mat-icon color="warn" aria-label="location">location_on</mat-icon>
                Sydney, NSW
            </div>
        </div>
        <img src="/assets/images/me.png" height="200px" alt="Shubham Singhal" class="profile-pic">

    </div>

    <blockquote>
        <p>
            As an accomplished full-stack developer boasting over three years of hands-on experience and armed with
            aBachelor's degree in Computer Science complemented by a Master's in Artificial Intelligence, I have a
            distinguished trackrecord ofcontributing to numerous AI-driven projects. My proficiency extends across a
            spectrum of cutting-edgetechnologies,including Angular, React, Spring, Databases, and Python, enabling me to
            seamlessly navigate both Backend andFrontenddevelopment landscapes.
        </p>
        <p>
            Furthermore, my expertise extends beyond development to encompass a deep understanding of deployment procedures
            and proficient CI/CD management. Beyond the confines of my professional responsibilities, I am deeply engrossed
            in the world of AI, continually exploring and refining AI models.
        </p>
        <p>
            In addition to my technical prowess, I possess a keen eye for design, crafting visually striking designs.
        </p>
        <p>
            This multifaceted skill set embodies my commitment to innovation, technical excellence, and creative finesse,
            making me a well-rounded candidate prepared to excel in the field of Artificial Intelligence.
        </p>
    </blockquote>
    <div class="down" *ngIf="onTop">
        <div class="scroll-container">
            <mat-icon color="primary" (click)="scrollTo('skills')" class="hover">keyboard_arrow_down</mat-icon>
            <div class="circle"></div>
        </div>
        
    </div>

</div>