<div class="home-container">
    <div class="home-header">
        <div class="header-container" [ngClass]="{light: lightMode}">
            <div class="main-info">
                <h1 class="title">
                    <p class="title-prefix">Hi, I'm </p>
                    Shubham Singhal
                </h1>
                <h4 class="subtitle">
                    <span>Artificial Intelligence</span>
                    <span *ngIf="!mobile"> | </span>
                    <span>Full Stack Engineer</span>
                </h4>
                <h4 class="subtitle">
                    <a class="cyanLinks" href="/assets/files/Shubham Singhal Resume.pdf" download>
                        Resume
                        <mat-icon class="cyanLinks" aria-label="download">get_app</mat-icon>
                    </a>
                </h4>
            </div>
            <div class="socials">
                <div class="contacts">
                    <mat-icon color="primary" aria-label="email">email</mat-icon>
                    <span>shubham21197@gmail.com</span>
                </div>
                <div class="contacts green">
                    <mat-icon color="primary" aria-label="phone">phone</mat-icon>
                    <span>+61 403 773 769</span>
                </div>
                <div class="contacts blue">
                    <mat-icon aria-label="linkedin" svgIcon="linkedin"></mat-icon>
                    <span><a class="cyanLinks" href="https://www.linkedin.com/in/shubham-singhal-s/" target="_blank">shubham-singhal-s</a></span>
                </div>
                <div class="contacts">
                    <mat-icon aria-label="github" svgIcon="github"></mat-icon>
                    <span><a class="cyanLinks" href="https://github.com/shubham-singhal-s" target="_blank">shubham-singhal-s</a></span>
                </div>
                <div class="contacts">
                    <mat-icon color="warn" aria-label="location">location_on</mat-icon>
                    <span>Sydney, NSW</span>
                </div>
            </div>
        </div>
    </div>

    <blockquote>
        <div>
            I am an accomplished full-stack developer with three-plus years of hands-on experience and a Bachelor's degree in
            Computer Science, complemented by a Master's in Artificial Intelligence. My career includes significant
            contributions to various AI-driven projects, spanning technologies like Angular, React, Spring, Databases, and
            Python, allowing me to navigate both Backend and Frontend development landscapes seamlessly.
        </div>
        <div>
            My expertise extends beyond development to encompass deep knowledge of deployment procedures and proficient CI/CD
            management. My passion for AI goes beyond my professional duties, as I am continuously exploring and refining AI
            models.
        </div>
        <div>
            In addition to my technical skills, I possess a keen eye for design, crafting visually striking interfaces for both
            Full-Stack Development and AI projects. This multifaceted skill set embodies my commitment to innovation, technical
            excellence, and creative finesse, making me a well-rounded candidate prepared to excel in the dynamic intersection
            of Full-Stack Development and Artificial Intelligence.
        </div>
    </blockquote>
    <div class="down" *ngIf="onTop">
        <div class="scroll-container">
            <mat-icon color="primary" (click)="scrollTo('skills')" class="hover">keyboard_arrow_down</mat-icon>
            <div class="circle"></div>
        </div>
        
    </div>

</div>